private_html /n8n/workflows/friday-scheduler.json
{
  "name": "APM - Friday Email Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "name": "Schedule Trigger - Friday 17:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-friday"
    },
    {
      "parameters": {
        "functionCode": "// Pobierz bieżący numer tygodnia\nconst now = new Date();\nconst week = getWeekNumber(now);\nconst year = now.getFullYear();\n\nfunction getWeekNumber(date) {\n  const firstDayOfYear = new Date(date.getFullYear(), 0, 1);\n  const pastDaysOfYear = (date - firstDayOfYear) / 86400000;\n  return Math.ceil((pastDaysOfYear + firstDayOfYear.getDay() + 1) / 7);\n}\n\nreturn {\n  json: {\n    week_number: 'T' + week,\n    year: year,\n    action: 'friday_send'\n  }\n};"
      },
      "name": "Calculate Week Number",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "calc-week"
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/webhook/n8n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "name": "Send to PHP App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "id": "send-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "check-success"
    },
    {
      "parameters": {
        "message": "=✅ APM Emails wysłane pomyślnie!\n\nTydzień: {{$json.week_number}}\nWysłano: {{$json.sent}} maili\nData: {{$now}}",
        "additionalFields": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      },
      "id": "log-success"
    },
    {
      "parameters": {
        "message": "=❌ Błąd wysyłki APM Emails\n\nTydzień: {{$json.week_number}}\nBłąd: {{$json.error}}\nData: {{$now}}",
        "additionalFields": {}
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      },
      "id": "log-error"
    }
  ],
  "connections": {
    "Schedule Trigger - Friday 17:00": {
      "main": [
        [
          {
            "node": "Calculate Week Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Week Number": {
      "main": [
        [
          {
            "node": "Send to PHP App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to PHP App": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-03T12:00:00.000Z",
  "versionId": "1"
}